{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">
            <form method="post" class="row g-3">
                <div class="col-12">
                     <h1 class="h2 mb-3 font-weight-normal" style="text-align: center">Inscription</h1>
                </div>

    {{ form_start(registrationForm) }}
                <div class="col-12">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.nom) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.genre) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.dateNaissance) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.adresse) }}
                </div>
                <div class="col-12">
                    {{ form_row(registrationForm.telephone) }}
                </div>
                <div class="col-12">

                    {{ form_row(registrationForm.plainPassword, {
                     label: 'Mot de passe'
                    }) }}
                </div>

                <div class="col-12">
                    {{ form_row(registrationForm.image)}}
                </div>

                <div class="col-12">
                    {{ form_row(registrationForm.agreeTerms) }}

                    <div class="col-12" style="text-align: center">
                        <input class="btn btn-lg btn-primary float-end" type="submit"  value="Valider">
                        <input class="btn btn-lg btn-primary float-end" type="reset"  value="Annuler">


                    </div>

                {{ form_end(registrationForm) }}


            </form>
        </div>
    </div>
</div>
{% endblock %}
