{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier Annonce #' ~ annonce.id  %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto bg-light mt-4 p-4">
                <form method="post" class="row g-3">
                    <input type="hidden" name="_token" value="{{ csrf_token('annonce_edit') }}">
                    <div class="col-12">
                        <h1 class="h2 mb-3 font-weight-normal" style="text-align: center">Modifier une annonce</h1>
                    </div>

                    {#                    <div class="col-12"> #}
                    {#                        {% if error %}#}
                    {#                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                    {#                        {% endif %}#}
                    {#                    </div> #}

                    <div class="col-12">
                        <label for="af1" >Address de départ</label>
                        <input type="text" name="addressdep" id="af1" class="form-control" required autofocus value="{{ annonce.adresseDepart }}">
                    </div>

                    <div class="col-12">
                        <label for="af2">Address d'arrvée</label>
                        <input type="text" name="addressarr" id="af2" class="form-control" required autofocus value="{{ annonce.adresseArrivee }}">
                    </div>

                    <div class="col-12">
                        <label for="af3">Prix proposée</label>
                        <input type="text" name="prix" id="af3" class="form-control" required autofocus value="{{ annonce.prixProposee }}">
                    </div>

                    <div class="col-12">
                        <label for="af4">Date proposée </label>
                        <input type="date" name="datepro" id="af4" class="form-control" required autofocus  value= "{{ annonce.dateProposee.format('m/d/Y') }}">
                    </div>

                    <div class="col-12">
                        <label for="ifc" >Image de Colis</label>

                        <input class="file-upload-input form-control" type="file" name="imagecolis" id="ifc" accept="Image/*" value="{{ annonce.getColis.getImage }}">
                    </div>

                    <div class="col-12">
                        <label for="cf1">Objet du Colis </label>
                        <input type="text" name="objet" id="cf1" class="form-control" required autofocus value="{{ annonce.getColis.objetColis }}">

                    </div>

                    <div class="col-12">
                        <label for="cf11">Description du Colis </label>
                        <textarea name="description" id="cf11" class="form-control" required autofocus rows="2"> {{ annonce.getColis.descriptionColis }} </textarea>
                    </div>

                    <div class="col-12">
                        <label for="cf2">Quantité</label>
                        <input type="number" name="quantite" id="cf2" class="form-control" required autofocus value="{{ annonce.getColis.quantiteColis }}">
                    </div>
                    <div class="col-12">
                        <label for="cf3">Largeur du Colis </label>
                        <input type="number" name="largeur" id="cf3" class="form-control" required autofocus value="{{ annonce.getColis.largeurColis }}">
                    </div>
                    <div class="col-12">
                        <label for="cf6">Longeur du Colis </label>
                        <input type="number" name="longeur" id="cf6" class="form-control" required autofocus value="{{ annonce.getColis.longeurColis }}">
                    </div>
                    <div class="col-12">
                        <label for="cf4">Hauteur du Colis </label>
                        <input type="number" name="hauteur" id="cf4" class="form-control" required autofocus value="{{ annonce.getColis.hauteurColis }}">
                    </div>
                    <div class="col-12">
                        <label for="cf5">Poids Unitaire du Colis </label>
                        <input type="number" name="poids" id="cf5 " class="form-control" required autofocus value="{{ annonce.getColis.poidsUnitaireColis }}">
                    </div>
                    <div class="col-12" style="text-align: center">
                        <input class="btn btn-lg btn-primary float-end" type="submit"  value="Modifier">
                        


                    </div>





                </form>
            </div>
        </div>
    </div>
{% endblock %}