{% extends 'super_admin/admin_layouts/base.html.twig' %}
{% block title %} Liste des utilisateurs{% endblock %}
{% block body %}

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>




    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div style="margin-bottom: 19px; margin-left: 1130px;">
                        <a href="{{ path('app_user_create') }}" class="label theme-bg text-white f-16">Ajouter utilisateur</a>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                    <div class="col-xl-8 col-md-12 m-b-30">
                                        <div class="tab-content" id="myTabContent" style="width: 75rem; margin-left: 3rem;">

                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>User</th>
                                                        <th>Email</th>
                                                        <th>Date de naissane</th>
                                                        <th>Genre</th>
                                                        <th>Adresse</th>
                                                        <th>Status</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                    </thead>
                                                    {% for user in users  %}
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    {% if user.image == NULL %}
                                                                        <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/admin/images/user/avatar-1.jpg" alt="activity-user">{{ user.nom }} {{ user.prenom }}</h6>
                                                                    {% else %}
                                                                        <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;height: 50px;" src="/uploads/users/{{ user.image }}" alt="activity-user">{{ user.nom }} {{ user.prenom }}</h6>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <h6 class="m-0">{{ user.email }}</h6>
                                                                </td>
                                                                <td>

                                                                    <h6 class="m-0">{{ user.dateNaissance|date('d-m-Y') }}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="m-0">{{ user.genre }}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="m-0">{{ user.adresse }}</h6>
                                                                </td>
                                                                <td class="text-center">
                                                                    {% if user.verified == 1 %}
                                                                        <i class="fas fa-circle text-c-green f-10"></i>
                                                                    {% else %}
                                                                        <i class="fas fa-circle text-c-red f-10"></i>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('app_userbyid_edit',{'id': user.id}) }}" class="label theme-bg text-white f-12">Éditer</a>
                                                                    <a href="{{ path('app_user_avertir',{'id': user.id}) }}" class="label theme-bg2 text-white f-12">Avertir</a>
                                                                    <button type="button" class="label theme-bg text-white f-12 deletebtn">Supprimer</button>
                                                                    <!-- ##################################################################### -->
                                                                    <!-- delete pop up form -->
                                                                    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                                        Supprimer Utilisateur
                                                                                    </h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <form action="{{ path('app_user_delete', {'id': user.id}) }}" method="POST">
                                                                                    <div class="modal-body">
                                                                                        <input type="hidden" name="delete_id" id="delete_id">
                                                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token('user_deletion_' ~ user.id) }}">
                                                                                        <h4>VOULEZ-VOUS SUPPRIMER CET UTILISATEUR ?</h4>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                                                                                        <button type="submit" name="deleteuser" class="btn btn-primary">OUI</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- ##################################################################### -->
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                    {% endfor %}
                                                </table>
                                        </div>




                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function (){

            $('.deletebtn').on('click', function (){
                $('#deletemodal').modal('show');

            });
        });

    </script>


{% endblock %}