{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des Trajets!{% endblock %}
{% block body %}

    <section class="py-7" id="services" container-xl="container-xl">

        <div class="container" >

            <div class="row h-100 justify-content-center">
                {% for tr in trajet  %}
                <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                    <div class="card h-100 px-lg-5 card-span">
                        <div class="card-body d-flex flex-column justify-content-around">
                            <div class="text-center pt-5" style="margin-bottom: 19px; margin-top: 19px">
                                <img src="/assets/img/format/{{ tr.formatObjet }}.png"></img>
                                <br>
                            </div>
                            <h6 class="mb-0 fs--1 text-1000 fw-medium">De :{{ tr.lieuDepartTrajet }}</h6>
                            <h6 class="mb-0 fs--1 text-1000 fw-medium">À : {{ tr.lieuArriveeTrajet }}</h6>
                            <h6 class="mb-0 fs--1 text-1000 fw-medium">Départ le : <time datetime="{{ tr.dateDepart|date('Y-m-d H:i') }}">{{ tr.dateDepart|date('Y-m-d H:i') }}</time></h6>
                            <p class="fs--2 fw-normal mb-0"> By:{{ tr.user.nom}} {{ tr.user.prenom}}</p>
                            <div class="text-center my-5">
                                <div class="d-grid">
                                    {% if app.user %}
                                        {% if app.user.id == tr.user.id %}
                                            <div class="btn-group">
                                                <a class="btn btn-outline-danger" href="{{ path('app_trajet_edit', {'id': tr.id}) }}" type="submit">Modifier</a>
                                                <a type="button" class="btn btn-danger "  data-toggle="modal" data-target="#alertsupp"><i class="fa fa-trash"></i></a>
                                            </div>
                                        {% else %}
                                            <a class="btn btn-outline-danger" href="#" type="submit">Contacter {{ tr.user.nom}} </a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-outline-danger" href="{{ path('app_login') }}" type="submit">Contacter {{ tr.user.nom}} </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- end of .container-->

    </section>

{% endblock %}