{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des Trajets!{% endblock %}
{% block body %}


     </h1>

    {% for tr in trajet  %}
        <article>
            <h5> <a href="{{ url('app_trajet_show', {'id':tr.id}) }}"> Trajet N° : {{ tr.id }} </a> </h5>
            <p> Adresse de départ : {{ tr.lieuDepartTrajet }}</p>
            <p> Adresse d'arrivé : {{ tr.lieuArriveeTrajet }}</p>
            <p> Crée le {{ tr.dateDepart|ago }}</p>
            <p> Taille : {{ tr.formatObjet }}</p>
        </article>
    {% endfor %}
{% endblock %}